<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- <bean id="serviceManager" class="com.xyz.store.dao.service.impl.ServiceManagerImpl" />
	<bean id="bar" class="com.xyz.store.struts.Bar" />
	<bean id="boHtBmsIsnposAction" class="com.xyz.store.struts.BoHtBmsIsnposAction">
		<property name="serviceManager" ref="serviceManager" />
	</bean> -->
    
</beans>